<h1>Stupid Coach</h1>
<h3>Here is your question:</h3>
<p><%= @question.empty? ? "No question asked!" : @question %></p>
<p>- <em>You</em></p>
<h3>Here is the coach's answer:</h3>
<p><%= @answer %></p>
<p>- <em>Your coach</em></p>
<%= link_to "Ask a new question", ask_path %>
