// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
   width: 900px;
   margin: 0 auto;
 }

input[type=text] {
  width: 300px;
  height: 30px;
}

input[type=submit] {
  width: 100px;
  height: 35px;
  background-color: blue;
  color:white;
}

a {
  text-decoration: none;
  color: blue;
  &:hover {
    color: green;
  }
}
